<div id="layoutAuthentication_content">
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header">
                            <h3 class="text-center font-weight-light my-4">Register</h3>
                        </div>
                        <div class="card-body">
                            <form action="" method="POST">
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="first_name" type="text" name="first_name" placeholder="First Name" />
                                    <label for="first_name">First Name</label>
                                </div>  
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="last_name" type="text" name="last_name" placeholder="Last Name" />
                                    <label for="last_name">Last Name</label>
                                </div>  
                                <div class="form-floating mb-3">
                                    <input class="form-control" id="email" type="email" name="email" placeholder="name@example.com" />
                                    <label for="email">Email address</label>
                                </div>  
                                <div class="row mt-4 mb-0">
                                    <div class="input-group">
                                        <input type="submit" class="btn btn-primary mx-auto" value="Register"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer text-center py-3">
                            <div class="small"><a href="login">Already have an account? Login</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>